.footer {
    background: rgb(31, 27, 99);
    background: linear-gradient(90deg, rgba(31, 27, 99, 1) 9%, rgba(19, 19, 106, 1) 100%, rgba(0, 212, 255, 1) 100%);
    color: white;
    padding: 1rem;
    height: 2rem;
    width: 100vw;
    position: absolute;
    bottom: 0;

}

.footer p {
    align-items: center;
    justify-content: center;
    text-align: center;
}

@media screen and (max-width:1050px) {
    .footer {
        height: 4em;
    }
    .footer p {
        align-items: center;
        justify-content: center;
        text-align: center;
        
    }
}

@media screen and (max-width: 600px){

    .footer{
        position: relative;
        height: 3rem;
        text-align: justify;
        max-width: fit-content;
        }
}